.land{
  height: 900px;
  display: flex;

  @media (max-width: 1200px) {
    width: 100%;
    flex-direction: column;
  }
}

.landing {
  width: 71.8%;
  height: 900px;
  background-color: #F4F9E2;
  display: flex;
  align-content: start;
  flex-wrap: wrap;

  @media (max-width: 1200px) {
    margin-right: 0;
    width: 100%;
    align-items: center;
    align-content: center;
    flex-direction: column;
  }

  &__top{
    margin-top: 50px;
    margin-left: 200px;
    display: flex;
  }

  &__title {
    margin-top: 27px;
    color: #62D0DF;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    line-height: 27px;
    letter-spacing: -0.035em;
    margin-right: 428px;
    font-weight: bold;

    @media (max-width: 1200px) {
      margin-right: 0;
      text-align: center;
    }
  }

  &__list {
    display: flex;
    list-style-type: none;
    margin-top: 38px;
    padding-left: 0;
  }

  &__item>a{
    text-decoration: none;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: -0.006em;
    color: #22356F;
    margin-right: 14px;
    font-family: 'Roboto', sans-serif;
  }

  &__item:last-child>a{
    margin-right: 0;
  }

  &__item:hover>a{
   font-weight: bold;
   padding-bottom: 10px;
   border-bottom: 2px solid #000;
  }

  &__subtitle{
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
    line-height: 53px;
    letter-spacing: -0.035em;
    color: #22356F;
    margin-top: 64px;
  }


}
.landing_right{
  width: 1117px;
  height: 323px;
}

.landing__content{
    margin-top: 125px;
    margin-left: 200px;


    @media (max-width: 1200px) {
      margin-top: 50px;
    }
}

.content{
  display: flex;
  margin-top: 100px;
  width: 469px;
  height: 161px;
  font-family: 'Roboto', sans-serif;
  font-size: 23px;
  line-height: 42px;
  color: #22356F;

  @media (max-width: 1200px) {
    text-align: center;
    margin-top: 50px;
  }
}

.btn{
  display: inline-block;
  margin-top: 66px;
  color: #F9B640;
  width: 150px;
  height: 50px;
  border-style: none;
  background-color: #F4F9E2;
  font-size: 16px;
  line-height: 23px;
  letter-spacing: 0.1em;
  font-family: 'Roboto', sans-serif;
}

.btn:hover{
  background-color: #F9B640;
  color: #fff;
}

.landing__right{
  width: 28.2%;
  margin-top: 27px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (max-width: 1200px) {
    display: none;
  }
}

.right__btn{
  width: 150px;
  height: 50px;
  background: #62D0DF;
  border-radius: 50px;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
}

.talk {
  margin-left: -210px;
}


